<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
    <%= stylesheet_link_tag 'style' %>

    <title><%= current_article.title + ' - ' unless current_article.nil? %>piet.space</title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
  </head>
  <body>

    <main id="main" role="main">
      <%= link_to 'Back to home page',  '/' unless current_page.url == '/' %>
      <%= yield %>
    </main>

    <footer class="text-small">
      <p>&copy; <%= Time.new.year %>  Piet van Zoen</p>
    </footer>


    <%# <aside> %>
    <%#   <h2>Recent Articles</h2> %>
    <%#   <ol> %>
    <%#     <% blog.articles[0...10].each do |article| %1> %>
    <%#       <li><%= link_to article.title, article %1> <span><%= article.date.strftime('%b %e') %1></span></li> %>
    <%#     <% end %1> %>
    <%#   </ol> %>

    <%#   <h2>Tags</h2> %>
    <%#   <ol> %>
    <%#     <% blog.tags.each do |tag, articles| %1> %>
    <%#       <li><%= link_to "#{tag} (#{articles.size})", tag_path(tag) %1></li> %>
    <%#     <% end %1> %>
    <%#   </ol> %>

    <%#   <h2>By Year</h2> %>
    <%#   <ol> %>
    <%#     <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %1> %>
    <%#       <li><%= link_to "#{year} (#{articles.size})", blog_year_path(year) %1></li> %>
    <%#     <% end %1> %>
    <%#   </ol> %>
    <%# </aside> %>
    <!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
    <script>
      (function(f, a, t, h, o, m){
        a[h]=a[h]||function(){
          (a[h].q=a[h].q||[]).push(arguments)
        };
        o=f.createElement('script'),
          m=f.getElementsByTagName('script')[0];
        o.async=1; o.src=t; o.id='fathom-script';
        m.parentNode.insertBefore(o,m)
      })(document, window, '//fathom.piet.me/tracker.js', 'fathom');
      fathom('set', 'siteId', 'UUGPH');
      fathom('trackPageview');
    </script>
    <!-- / Fathom -->
  </body>
</html>
